<div class="background-color">
    <div class="messages-page-container">
        <h1 class="page-header">Devotionals</h1>

        <!-- Devotionals will be inserted here -->
        <div id="devotionalsList"></div>

        <!-- No Devotionals -->
        <div class="no-messages" id="noDevotionals">
            <img src="../assets/open-book.png" class="icon" />
            <h4>No devotionals available</h4>
            <p>Check back later!</p>
        </div>

        <!-- Liked Devotionals -->
        <h2 style="margin-top: 40px;">My Liked Devotionals</h2>
        <div id="likedDevotionalsList"></div>
        <button class="view-all-btn" onclick="navigateTo('user/profile')">Go to Profile</button>
    </div>
</div>
