<div class="background-color">
    <div class="events-page-container">
        <h1 class="page-header">Upcoming Events</h1>

        <!-- Event Card 1 -->
        <div class="event-card">
            <div class="event-image">
                <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/lofi2.jpg" />
            </div>
            <div class="event-details">
                <h2>Winter Sports Camp</h2>
                <p>Join us for a fun-filled weekend of sports, fellowship, and prayer!</p>
                <div class="event-meta">
                    <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/clock.png" alt="Clock Icon" class="icon" />
                    <p>Dec 15, 2025 | 10:00 AM</p>
                </div>
                <div class="event-meta">
                    <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/location.png" alt="Clock Icon" class="icon" />
                    <p>In Hyne Hall</p>
                </div>
            </div>
        </div>

        <!-- Event Card 2 -->
        <div class="event-card">
            <div class="event-image">
                <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/lofi.jpg" alt="Event Image" />
            </div>
            <div class="event-details">
                <h2>Prayer Breakfast</h2>
                <p>Start your day with food, fellowship, and prayer with FCA friends.</p>
                <div class="event-meta">
                    <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/clock.png" alt="Clock Icon" class="icon" />
                    <p>Dec 20, 2025 | 8:00 AM</p>
                    
                </div>
                <div class="event-meta">
                    <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/location.png" alt="Clock Icon" class="icon" />
                    <p>Gym</p>
                </div>
            </div>
        </div>

        <!-- No More Events Message -->
        <div class="no-events">
            <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/calendar.png" alt="Calendar Icon" class="icon" />
            <h4>No more events for now</h4>
            <p>Check back in later!</p>
        </div>
    </div>
</div>

