<main class="user-home-container">
    <section class="mission-statement">
        <h1>Welcome to FCA!</h1>
        <p id="missionStatement">Loading mission statement...</p>
    </section>

    <section class="dashboard-columns">
        <div class="column" id="eventsColumn">
            <h2>Upcoming Events</h2>
            <div id="eventsList"></div>
            <button class="view-all-btn" onclick="navigateTo('user/events')">View All Events</button>
        </div>

        <div class="column" id="devotionalsColumn">
            <h2>Latest Devotionals</h2>
            <div class="devotionals-card">
                <div id="user-devotionalsList">
                </div>
            </div>
            
            <button class="view-all-btn" onclick="navigateTo('user/devotionals')">View All Devotionals</button>
        </div>

        <div class="column" id="messagesColumn">
            <h2>Recent Messages</h2>
            <div id="messagesList"></div>
            <button class="view-all-btn" onclick="navigateTo('user/message')">Read All Messages</button>
        </div>
    </section>
</main>
