<div class="background-color">
    <div class="messages-page-container">
        <h1 class="page-header">Messages</h1>

        <!-- Message Card 1 -->
        <div class="message-card">
            <div class="message-icon">
                <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/mail.png" alt="Mail Icon" />
            </div>
            <div class="message-content">
                <h2>Coach's Update</h2>
                <p>Don't forget to bring your gear for practice!</p>
            </div>
            <div class="message-time">
                <p>Dec 1, 2025</p>
            </div>
        </div>

        <!-- Message Card 2 -->
        <div class="message-card">
            <div class="message-icon">
                <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/mail.png" alt="Mail Icon" />
            </div>
            <div class="message-content">
                <h2>Event Reminder</h2>
                <p>FCA Winter Sports Camp starts at 10 AM.</p>
            </div>
            <div class="message-time">
                <p>Dec 3, 2025</p>
            </div>
        </div>
        

        <!-- No More Messages -->
        <div class="no-messages">
            <img src= "file:///C:/Users/markr/OneDrive/Desktop/FCA/fca-app/assets/mail.png" alt="Mail Icon" class="icon" />
            <h4>No more messages for now</h4>
            <p>Check back later!</p>
        </div>
    </div>
</div>

