<div class="background-color">
    <div class="profile-container">
        <!-- Header -->
        <header class="profile-header">
            <h1>PROFILE</h1>
            
        </header>
        
    
        <!-- Profile Info -->
        <div class="profile-info-container">
            <img src="../assets/profile-icon.jpg" alt="Profile Picture" class="profile-pfp" />
            <div class="profile-details">
                <h2 id="userName">Admin</h2>
                <p id="userEmail">Admin@example.com</p>
            </div>
        </div>
        
    
        <!-- Personal Info -->
        <div class="personal-info-container">
            <h2>Personal Info</h2>
            <div class="personal-info-fields">
                <div class="info-box">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" value="Admin" />
                </div>
                <div class="info-box">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" value="Admin" />
                </div>
            </div>
            <button id="saveChangesBtn" class="save-btn">Save Changes</button>
        </div>
        <button id="logoutBtn" class="logout-btn">Logout</button>
        <!-- Favorite Devotionals -->
        <div class="favorite-devotionals-container">
            <h2>My Favorite Devotionals</h2>
            <div id="likedDevotionalsList">
                <!-- Liked devotionals will be appended here -->
            </div>
        </div>
    </div>
</div>