.navbar {
  width: 100%;
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  height: 45px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  font-size: 16px;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #0057ff;
}

.navbar-right .profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #eee;
}
