// #868686 Gray color for icon 



.background-color {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #F0A90C 0%, #FFF3D8 100%);
    color: #333;
    padding: 40px 20px 0px 20px;
    min-height: 100%;
    
}

/* Container */
.events-page-container {
    
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    h1 {
        color:  #1846AC;
    }

    h2 {
        
        color: #941510;
    }
}

/* Page Header */
.page-header {
    text-align: left;   /* top-left alignment */
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
}

/* Event Card */
.event-card {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    // align-items: center;
    justify-content: flex-start;
    width: 100%;
    // height: 200px;
    
}

/* Event Image */
.event-image img {
    width: 210px;        /* fixed width */
    height: 210px;       /* fixed height */
    object-fit: cover;
    border-radius: 12px;
    display: block; 
}

/* Event Details */
.event-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    // background-color: blue;
}

.event-details h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.event-details p {
    margin: 5px 0;
    color: #555;
}

/* Event Meta */
.event-meta {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}

.event-meta .icon {
    width: 24px;
    height: 24px;
}

/* No More Events */
.no-events {
    text-align: center;
    margin-top: 60px;
    color: #333;
}

.no-events .icon {
    width: 50px;
    height: 50px;
    // margin-bottom: 10px;
}
